.plugin-container {
	max-width: 600px;
	margin: 50px auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.plugin_container_shortcode
{
	margin-top:20px;
	max-width: 600px;
	margin: 50px auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.plugin_container_shortcode p {
	font-size: 16px;
	margin-bottom: 20px;
}
.plugin_container_shortcode code {
	font-size: 16px;
	margin-bottom: 20px;
}
.plugin-container p {
	font-size: 16px;
	margin-bottom: 20px;
}
#portfolio_submission_form1 {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f7f7f7;
	border-radius: 5px;
	color:red !important;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}


input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type="button"] {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 4px;
}

input[type="button"]:hover {
	background-color: #0056b3;
}

input[type="button"]:focus {
	outline: none;
}

input[type="button"]:active {
	background-color: #0056b3;
}

#error_message {
	color: red;
}